@page "/emploees-mud"
@using Emploees.Common
@using Emploees.Data
@using Emploees.Domain
@using Microsoft.EntityFrameworkCore
@implements IAsyncDisposable
@inject IDbContextFactory<ApplicationDbContext> DbFactory

<PageTitle>Сотрудники</PageTitle>

<h3>пупупу</h3>

<MudDataGrid @ref="_emploeeGrid" T="Emploee" Items="@_emploees" Filterable="true" SortMode="SortMode.Single"
			 ReadOnly="@(!_isEditGrid)" EditMode="DataGridEditMode.Form"
			 StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges"
			 SelectedItemChanged="SelectedItemChanged" SelectedItemsChanged="SelectedItemsChanged"
			 Bordered="true" EditTrigger="@DataGridEditTrigger.OnRowClick">
	<ToolBarContent>
		<MudText Typo="Typo.h6" Class="me-5">Сотрудники</MudText>
		<MudSwitch Class="me-5" @bind-Value="_isEditGrid" Color="Color.Primary">Редактировать</MudSwitch>
		<MudFab OnClick="NewItemAsync" Disabled="@(!_isEditGrid)" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Label="Добавить" />

	</ToolBarContent>
	<Columns>
		<PropertyColumn Property="x => x.Name" Title="ФИО" />
		<PropertyColumn Property="x => x.JobTitle == null ? string.Empty : x.JobTitle.Name" Title="Должность">
			<EditTemplate>
				<MudSelect @bind-Value="context.Item.JobTitleId"
						   Label="Должность"
						   Required="true"
						   RequiredError="Нужно выбрать должность"
						   Variant="Variant.Text"
						   Class="mt-2">
					@if (_jobTitles is not null)
					{
						@foreach (var item in _jobTitles)
						{
							<MudSelectItem Value="item.Id">@item.Name</MudSelectItem>
						}
					}
				</MudSelect>
			</EditTemplate>
		</PropertyColumn>
		<PropertyColumn Property="x => x.CostItem == null ? string.Empty : x.CostItem.Name" Title="Статья затрат">
			<EditTemplate>
				<MudSelect @bind-Value="context.Item.CostItemId"
						   Label="Статья затрат"
						   Required="true"
						   RequiredError="Нужно выбрать статью затрат"
						   Dense="true"
						   RelativeWidth="DropdownWidth.Ignore"
						   Variant="Variant.Text"
						   Class="mt-2">
					@if (_costItems is not null)
					{
						@foreach (var item in _costItems)
						{
							<MudSelectItem Value="item.Id">@item.Name</MudSelectItem>
						}
					}
				</MudSelect>
			</EditTemplate>
		</PropertyColumn>

		<PropertyColumn Property="x => x.Department == null ? string.Empty : x.Department.Description" Title="Отдел">
			<EditTemplate>
				@if (_departments != null)
				{
					<MudAutocomplete @bind-Value="context.Item.Department"
									 T="Catalog_СхемаПредприятия"
									 ToStringFunc="@(e => e?.Description?.TrimStart('-', ' ') ?? string.Empty)"
									 SearchFunc="SearchDepartment"
									 Variant="Variant.Text"
									 Label="Отдел"
									 Clearable="true"
									 Margin="Margin.Dense"
									 Dense="true"
									 RelativeWidth="DropdownWidth.Ignore">
						<ItemTemplate Context="item">
							<MudText Typo="Typo.body2" Style="white-space:nowrap">
								@item.Description
							</MudText>
						</ItemTemplate>
					</MudAutocomplete>

				}
			</EditTemplate>
		</PropertyColumn>



		<PropertyColumn Property="x => x.City == null ? string.Empty : x.City.Name" Title="Город">
			<EditTemplate>
				<MudSelect @bind-Value="context.Item.CityId"
						   Label="Город"
						   Required="true"
						   RequiredError="Нужно выбрать город"
						   Variant="Variant.Text"
						   Class="mt-2">
					@if (_cities is not null)
					{
						@foreach (var item in _cities)
						{
							<MudSelectItem Value="item.Id">@item.Name</MudSelectItem>
						}
					}
				</MudSelect>
			</EditTemplate>
		</PropertyColumn>
		<PropertyColumn Property="x => x.Location == null ? string.Empty : x.Location.Name" Title="Локация" Required="false" />
		<PropertyColumn Property="x => x.UserUt == null ? string.Empty : x.UserUt.Description" Title="Пользователь УТ" Required="false" />
		<PropertyColumn Property="x => x.EmploeeBuh == null ? string.Empty : x.EmploeeBuh.Description" Title="Сотрудник БП" Required="false" />
		<PropertyColumn Property="x => x.EmploeeZup == null ? string.Empty : x.EmploeeZup.Description" Title="Сотрудник ЗУП" Required="false" />
		<PropertyColumn Property="x => x.UserAd == null ? string.Empty : x.UserAd.Name" Title="AD User" Required="false" />
		<PropertyColumn Property="x => x.OperationManager == null ? string.Empty : x.OperationManager.Name" Title="Оперативный руководитель" Required="false" />
		<PropertyColumn Property="x => x.LocationManager == null ? string.Empty : x.LocationManager.Name" Title="Руководитель Локации" Required="false" />
	</Columns>
	<PagerContent>
		<MudDataGridPager T="Emploee" />
	</PagerContent>

</MudDataGrid>
<MudStack Class="align-center mud-width-full" Row>
	<MudSwitch @bind-Value="_fullWidth" Label="Full Width" Color="Color.Primary" />
	<MudSwitch @bind-Value="_fitContent" Label="Fit Content" Color="Color.Primary" />
</MudStack>


@code {
	private ApplicationDbContext _context = default!;

	private List<Emploee> _emploees = [];
	private JobTitle[] _jobTitles = [];
	private City[] _cities = [];
	private List<CostItem> _costItems = [];
	private List<Catalog_СхемаПредприятия> _departments = [];

	private MudDataGrid<Emploee> _emploeeGrid = default!;

	private List<string> _events = new();
	private bool _isEditGrid;
	private bool _fullWidth;
	private bool _fitContent;

	protected override async Task OnInitializedAsync()
	{
		_context = DbFactory.CreateDbContext();

		_emploees = await LoadEmploees();

		_jobTitles = await LoadJobTitles();

		_cities = await LoadCities();

		_costItems = await LoadCostItems();

		_departments = await LoadDepartments();
	}

	private Task<List<Emploee>> LoadEmploees()
	{
		return _context.Emploees
			.AsNoTracking()
			.Include(e => e.City)
			.Include(e => e.CostItem)
			.Include(e => e.Department)
			.Include(e => e.EmploeeBuh)
			.Include(e => e.EmploeeZup)
			.Include(e => e.JobTitle)
			.Include(e => e.Location)
			.Include(e => e.LocationManager)
			.Include(e => e.OperationManager)
			.Include(e => e.UserAd)
			.Include(e => e.UserUt)
			.ToListAsync();
	}

	private Task<JobTitle[]> LoadJobTitles() => _context.JobTitles.AsNoTracking().OrderBy(e => e.Name).ToArrayAsync();

	private Task<City[]> LoadCities() => _context.Cities.AsNoTracking().OrderBy(e => e.Name).ToArrayAsync();

	private async Task<List<CostItem>> LoadCostItems()
	{
		var items = await _context.CostItems
			.AsNoTracking().
			ToListAsync();

		return TreeHelper.BuildFlattenedTree(items);
	}

	private async Task<List<Catalog_СхемаПредприятия>> LoadDepartments()
	{
		_departments = await _context.Catalog_СхемаПредприятия
			.AsNoTracking().
			ToListAsync();

		return TreeHelper.BuildFlattenedCatalogTree(_departments);
	}

	private async Task NewItemAsync()
	{
		var emploee = new Emploee();

		await _emploeeGrid.SetEditingItemAsync(emploee);
	}

	private void DeleteItem(Emploee item)
	{
		_emploees.Remove(item);
	}

	private async Task<IEnumerable<Catalog_СхемаПредприятия>> SearchDepartment(string value, CancellationToken token)
	{
		// In real life use an asynchronous function for fetching data from an api.
		await Task.Delay(5, token);

		if (_departments == null)
			return Enumerable.Empty<Catalog_СхемаПредприятия>();

		if (string.IsNullOrEmpty(value))
			return _departments;

		var result = _departments
			.Where(x => x.Description != null &&
						x.Description.Contains(value, StringComparison.InvariantCultureIgnoreCase))
			.ToList();

		return result;
	}


	// events
	private void StartedEditingItem(Emploee item)
	{
		_events.Insert(0, $"Event = StartedEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
	}

	private void CanceledEditingItem(Emploee item)
	{
		// update code for backing data here if needed
		_events.Insert(0, $"Event = CanceledEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
	}

	private async Task CommittedItemChanges(Emploee item)
	{
		_events.Insert(0, $"Event = CommittedItemChanges, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");

		if (item.Id == Guid.Empty)
		{
			await _context.Emploees.AddAsync(item);
		}
		else
		{
			var existing = _context.Emploees.FirstOrDefault(e => e.Id == item.Id);

			if (existing is null)
				return;

			_context.Entry<Emploee>(existing).CurrentValues.SetValues(item);

			if (item.Department is not null)
				existing.DepartmentId = item.Department.Ref_Key;
		}
		await _context.SaveChangesAsync();

		await LoadEmploees();
	}


	public async ValueTask DisposeAsync() => await _context.DisposeAsync();


	private void SelectedItemChanged(Emploee item)
	{
		_events.Insert(0, $"Event = SelectedItemChanged, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
	}
	private void SelectedItemsChanged(HashSet<Emploee> items)
	{
		_events.Insert(0, $"Event = SelectedItemsChanged, Data = {System.Text.Json.JsonSerializer.Serialize(items)}");
	}
}
