@using Emploees.Abstractions
@using Emploees.Common
@using Emploees.Domain
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.Threading.Tasks
@inject ProtectedSessionStorage ProtectedSessionStore
@typeparam TNode where TNode : class, ITree<TNode>

<div class="card">
	<div class="card-body">
		<div class="d-flex justify-content-between mb-1">
			<div class="btn btn-sm rounded-pill ms-3" @onclick="ToggleExpandeAll">
				<i class="bi @(expandedAll ? "bi-arrows-collapse" : "bi-arrows-expand")"></i>
				<span class="ms-1">@((expandedAll) ? "Свернуть" : "Развернуть")</span>
			</div>
			<div class="btn btn-sm btn-outline-primary rounded-pill" @onclick="OnItemCreate">
				<i class="bi bi-plus-circle"></i><span class="ms-1">Создать</span>
			</div>
		</div>
		@if (tree != null)
		{
			<ul class="list-group">
				@foreach (var node in tree)
				{
					<TreeNode @key="node.Id" TNode="TNode" Node="node" Template="Template"
							  OnSelect="SelectNode" OnToggleExpand="ToggleExpandNode"
							  OnDragStart="DragStart" OnDragEnter="DragEnter" OnDrop="DropNode"
							  DraggedNode="@draggedNode" DraggedNodeDescendants="@draggedNodeDescendants"
							  HoveredNode="@hoveredNode" SelectedNodeId="@treeState.SelectedNode" />
				}
			</ul>
		}
	</div>
</div>


@code {
	[Parameter] public List<TNode>? Items { get; set; }
	[Parameter] public RenderFragment<TNode>? Template { get; set; }
	[Parameter] public EventCallback OnItemCreate { get; set; }
	[Parameter] public EventCallback<TNode> OnItemSelected { get; set; }
	[Parameter] public EventCallback<TNode> OnItemChanged { get; set; }

	private List<TNode>? tree;
	private TreeState treeState = new();
	private bool expandedAll;

	private TNode? draggedNode;
	private List<TNode>? draggedNodeDescendants;
	private TNode? hoveredNode;

	protected override async Task OnInitializedAsync()
	{
		if (Items is null)
			return;

		tree = TreeHelper.BuildTree(Items);
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await RestoreTreeState();

			StateHasChanged();
		}
	}

	private async Task RestoreTreeState()
	{
		if (Items is null)
			return;

		var storageResult = await ProtectedSessionStore.GetAsync<TreeState>(nameof(treeState));

		if (storageResult.Success && storageResult.Value is not null)
		{
			treeState = storageResult.Value;

			foreach (var item in Items)
			{
				if (item.Id is not null && treeState.ExpandedNodes.Contains(item.Id))
					item.Expanded = true;
			}
		}
	}

	private async Task SelectNode(TNode node)
	{
		treeState.SelectedNode = node.Id;

		await OnItemSelected.InvokeAsync(node);

		_ = ProtectedSessionStore.SetAsync(nameof(treeState), treeState);
	}

	private async Task ToggleExpandNode(TNode node)
	{
		if (Items is null)
			return;

		node.Expanded = !node.Expanded;

		if (node.Id is not null)
		{
			if (node.Expanded)
				treeState.ExpandedNodes.Add(node.Id);
			else
				treeState.ExpandedNodes.Remove(node.Id);
		}

		expandedAll = Items.All(e => e.Expanded);

		_ = ProtectedSessionStore.SetAsync(nameof(treeState), treeState);
	}

	private async Task ToggleExpandeAll()
	{
		if (Items is null)
			return;

		expandedAll = !expandedAll;

		treeState.ExpandedNodes.Clear();

		foreach (var item in Items)
		{
			item.Expanded = expandedAll;
			if (expandedAll && item.Id is not null)
				treeState.ExpandedNodes.Add(item.Id);
		}

		_ = ProtectedSessionStore.SetAsync(nameof(treeState), treeState);
	}

	private void DragStart(TNode node)
	{
		draggedNode = node;

		draggedNodeDescendants = TreeHelper.GetDescendantsOf(node);
	}

	private void DragEnter(TNode node)
	{
		hoveredNode = node;
	}

	private async Task DropNode(TNode targetNode)
	{
		if (Items is null || draggedNode is null || draggedNode == targetNode ||
			(draggedNodeDescendants is not null && draggedNodeDescendants.Contains(targetNode)))
		{
			hoveredNode = null;
			return;
		}

		draggedNode.ParentId = targetNode.Id;

		await OnItemChanged.InvokeAsync(draggedNode);

		tree = TreeHelper.BuildTree(Items);

		hoveredNode = null;
	}
}
