@page "/ad-users"
@using Emploees.Application
@using Emploees.Domain
@inject IAdUserService AdService

<h3>AD Users</h3>

<button class="btn btn-primary mb-2" type="button" @onclick="RefreshCatalog">
	@if (isRefreshing)
	{
		<span>Обновляются данные </span>
		<div class="spinner-border spinner-border-sm" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	}
	else
	{
		<span>Обновить данные из AD</span>
	}
</button>

@if (adUsers is not null)
{
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Login</th>
			<th>Title</th>
			<th>Department</th>
			@* <th>Sid</th> *@
			@* <th>Manager</th> *@
			<th>DistinguishedName</th>
			<th>Enabled</th>
		</tr>
		@foreach (var item in adUsers)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Login</td>
				<td>@item.Title</td>
				<td>@item.Department</td>
				@* <td>@item.Sid</td> *@
				@* <td>@item.Manager</td> *@
				<td>@item.DistinguishedName</td>
				<td>@item.Enabled</td>
			</tr>
		}
	</table>
}

@code {
	private AdUser[]? adUsers;
	private bool isRefreshing = false;

	protected async override Task OnInitializedAsync()
	{
		adUsers = await AdService.GetAdUsersAsync();
	}

	private async Task RefreshCatalog(MouseEventArgs args)
	{
		isRefreshing = true;

		await AdService.Refresh();

		StateHasChanged();

		isRefreshing = false;
	}
}
